*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input {
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #96a8d6;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    background-color: rgb(231, 229, 229);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.top-content h3 a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h3{
    height: 100%;
    background-color: lightgray;
    line-height: 60px;
    padding: 0 50px;
    color: whitesmoke;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

label:hover{
    color: black;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.pic{
    position: relative;
    height: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img, .pic video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: .7s;
    filter: saturate(45%);

}

.pic.hidden {
    display: none;
}



/* Mostrar todas las fotos */
#check1:checked ~ .photo-gallery .pic {
    display: block;
}

/* Mostrar solo Minecraft */
#check2:checked ~ .photo-gallery .pic {
    display: none;
}
#check2:checked ~ .photo-gallery .maicra {
    display: block;
}

/* Mostrar solo Roblox */
#check3:checked ~ .photo-gallery .pic {
    display: none;
}
#check3:checked ~ .photo-gallery .roblos {
    display: block;
}

/* Mostrar solo Fortnite */
#check4:checked ~ .photo-gallery .pic{
    display: none;
}
#check4:checked ~ .photo-gallery .fornais{
    display: block;
}

#check5:checked ~ .photo-gallery .pic{
    display: none;
}
#check5:checked ~ .photo-gallery .estardiu{
    display: block;
}

/* Mostrar otros */
#check6:checked ~ .photo-gallery .pic{
    display: none;
}
#check6:checked ~ .photo-gallery .outros{
    display: block;
}

/* Mostrar videos */

#check7:checked ~ .photo-gallery .pic {
    display: none;
}

#check7:checked ~ .photo-gallery .videito {
    display: block;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 1000;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.75);
}

.modal-image {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.close:hover {
    color: #ccc;
}