body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/background1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #6B7AA1;
}

.container {
    text-align: center;
    border: 5px solid #D2D9F1;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hearts {
    display: flex;
}

.heart, .heart.filled {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background-color: #D2D9F1;
    border-radius: 50%;
    display: inline-block;
}

.heart.filled {
    background-color: #6B7AA1;
}

.icons {
    display: flex;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.folder {
    background: url('images/folder-icon.png') no-repeat center center;
    background-size: contain;
}

.user {
    background: url('images/user-icon.png') no-repeat center center;
    background-size: contain;
}

.close {
    background: url('images/close-icon.png') no-repeat center center;
    background-size: contain;
}

.content {
    margin-bottom: 20px;
}

.center-image {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.stars-line {
    height: 20px;
    width: 100%;
    background: url('images/stars-line.png') repeat-x center;
    margin: 20px 0;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
    margin-bottom: 20px;
    position: relative;
}

.key {
    background-color: #96a8d6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.key:hover {
    background-color: #7a90c2;
}

.key.zero {
    grid-column: 2 / span 1;
}

.bottom-image {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #a3a3a3;
}
